# Data files
01-code/1.1-pytorch/01-quick_start/data/
01-code/1.1-pytorch/01-quick_start/neuralnet.pth

01-code/1.1-pytorch/07-CV/data/
01-code/1.1-pytorch/07-CV/cifar_net.pth

01-code/1.1-pytorch/08-NLP/data/




# env files
.venv/